# CK0223 - Mineração de Dados

## Lista 01 - Tratamento de Dados

### Dados do discente:
**Nome**: Luiza Esther Martins Pessoa
**Matrícula**: 555516

---

### Informações inicias:
Esta tarefa busca exercitar os conceitos refrentes à manipulação, tratamento e limpeza de dados. Com isso, além de criar scripts que resolvam às solicitações de cada item da atividade, este notebook armazenará comentários adicionais referentes ao processo de desenvolvimento de ideias e fontes que foram consultadas.

Como estamos seguindo um processo de tratamento de dados estruturado, não irei adicionar mais um script de importação de bibliotecas, apenas em casos em que será necessário importar uma biblioteca diferente das que já utilizamos em itens anteriores.

### **(a)** Ler o dataset *fakeTelegram.BR_2022.csv*

Como estamos trabalhando com uma grande quantidade de dados, utilizar uma lista não é tão visualmente intuitivo e um dataframe consegue ser mais fácil de manipular dados, pois é como se estivessemos visualizando uma planilha.

Além disso, vamos utilizar a biblioteca *pandas* para ler o arquivo `.csv` utilizando a chamada `read_csv`. Porém, antes de fazer isso, é importante analisar a origem da nossa base de dados, ou seja, onde essa base está armazenada. No caso da *fakeTelegram.BR_2022.csv* podemos fazer de duas formas, visto que sua origem vem do Google Drive:

1. Usando apenas a biblioteca *pandas* -- Se o arquivo for público ou compartilhado com o link, você pode gerar uma URL direta de download. 
2. Usando a biblioteca *request* para transformar o link de compartilhamento em um link de download e depois utilizar *pandas* para ler o dataframe gerado. -- Basicamente, usamos o requests para baixar o conteúdo do arquivo primeiro como um binário (.content), e depois passa o conteúdo como um buffer para o pandas ler.

Contudo, antes de fazer isso, como o arquivo é muito grande, foi necessário extrair o arquivo para a máquina local e para fazer isso, utiizei a biblioteca `gdown` que simula o comportamento de um navegador e lida automaticamente com o redirecionamento e o botão de "Download mesmo assim" que aparece para arquivos grandes no Google Drive.

#### **Passo 01**
Importando bibliotecas necessárias para leitura do dataset.

In [1]:
# IMPORTAÇÃO DE BIBLIOTECAS
import gdown
import pandas as pd
import requests
from io import StringIO

#### **Passo 02**
Fazendo o download da base de dados para local.

In [2]:
origem_url = 'https://drive.google.com/file/d/1c_hLzk85pYw-huHSnFYZM_gn-dUsYRDm/view'

# O ID do arquivo (necessário para fazer o download direto) está entre os últimos elementos da URL.
# Fazemos um split na URL usando '/' como separador e pegamos o penúltimo elemento da lista.
# Isso funciona porque a estrutura da URL é:
# https://drive.google.com/file/d/ID_DO_ARQUIVO/view
# E ao aplicar url.split('/'), o resultado será:
# ['https:', '', 'drive.google.com', 'file', 'd', 'ID_DO_ARQUIVO', 'view?...']
# Portanto, o ID está na posição -2 (penúltima).

file_id = origem_url.split('/')[-2]

# URL do arquivo no formato aceito pelo gdown
url = f'https://drive.google.com/uc?id={file_id}'

# Nome local do arquivo que será baixado
output = 'fakeTelegram.BR_2022.csv'

# Baixando o arquivo com gdown
gdown.download(url, output, quiet=False)

Downloading...
From (original): https://drive.google.com/uc?id=1c_hLzk85pYw-huHSnFYZM_gn-dUsYRDm
From (redirected): https://drive.google.com/uc?id=1c_hLzk85pYw-huHSnFYZM_gn-dUsYRDm&confirm=t&uuid=fe3494be-f597-474b-a7e6-3c2b20f372f8
To: c:\Users\esthe\Downloads\Data-Mining\Lista01_TratamentoDeDados\fakeTelegram.BR_2022.csv
100%|██████████| 224M/224M [06:54<00:00, 539kB/s]

'fakeTelegram.BR_2022.csv'

#### **Passo 03**
Lendo utilizando apenas pandas.

In [2]:
df_inicial = pd.read_csv("fakeTelegram.BR_2022.csv")

#### **Passo 04**
Conferindo informações iniciais após leitura da base de dados.

In [4]:
# PARA MELHOR VISUALIZAÇÃO
print("Número de linhas:", df_inicial.shape[0])
print("Número de colunas:", df_inicial.shape[1])
print("Nome das colunas:", df_inicial.columns)

Número de linhas: 557586
Número de colunas: 19
Nome das colunas: Index(['date_message', 'id_member_anonymous', 'id_group_anonymous', 'media',
       'media_type', 'media_url', 'has_media', 'has_media_url', 'trava_zap',
       'text_content_anonymous', 'dataset_info_id', 'date_system',
       'score_sentiment', 'score_misinformation', 'id_message', 'message_type',
       'messenger', 'media_name', 'media_md5'],
      dtype='object')

In [5]:
print("Primeiras 5 linhas do dataset:")
print(df_inicial.head())

print("Últimas 5 linhas do dataset:")
print(df_inicial.tail())

Primeiras 5 linhas do dataset:
          date_message               id_member_anonymous  \
0  2022-10-05 06:25:04  1078cc958f0febe28f4d03207660715f
1  2022-10-05 06:25:08                               NaN
2  2022-10-05 06:26:28  92a2d8fd7144074f659d1d29dc3751da
3  2022-10-05 06:27:28  d60aa38f62b4977426b70944af4aff72
4  2022-10-05 06:27:44  cd6979b0b5265f08468fa1689b6300ce

                 id_group_anonymous                                 media  \
0  12283e08a2eb5789201e105b34489ee7                                   NaN
1  12283e08a2eb5789201e105b34489ee7                                   NaN
2  9f2d7394334eb224c061c9740b5748fc                                   NaN
3  c8f2de56550ed0bf85249608b7ead93d  94dca4cda503100ebfda7ce2bcc060eb.jpg
4  e56ec342fc599ebb4ed89655eb6f03aa  5ad5c8bbe9da93a37fecf3e5aa5b0637.jpg

  media_type media_url  has_media  has_media_url  trava_zap  \
0        NaN       NaN      False          False      False
1        NaN       NaN      False          False      False
2        NaN       NaN      False          False      False
3  image/jpg       NaN       True          False      False
4  image/jpg       NaN       True          False      False

                              text_content_anonymous  dataset_info_id  \
0  Então é Fato Renato o áudio que eu ouvi no wha...                5
1  Saiu no YouTube do presidente a 8 horas atrás,...                5
2  É isso, nossa parte já foi quase toda feita. N...                5
3           GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA                5
4                                                NaN                5

                  date_system  score_sentiment  score_misinformation  \
0  2022-10-05 06:25:28.863641           0.0000                   NaN
1  2022-10-05 06:25:28.926311           0.0644                   NaN
2  2022-10-05 06:26:29.361949          -0.3551              0.157242
3  2022-10-05 06:27:29.935624           0.0000                   NaN
4  2022-10-05 06:28:29.316325              NaN                   NaN

   id_message message_type messenger media_name  \
0       16385        Texto  telegram        NaN
1       16386        Texto  telegram        NaN
2       16366        Texto  telegram        NaN
3       19281       Imagem  telegram        NaN
4      507185       Imagem  telegram        NaN

                          media_md5
0                               NaN
1                               NaN
2                               NaN
3  94dca4cda503100ebfda7ce2bcc060eb
4  5ad5c8bbe9da93a37fecf3e5aa5b0637
Últimas 5 linhas do dataset:
               date_message               id_member_anonymous  \
557581  2022-11-11 12:06:15  333e9869f23dbd4682d1be382d9c1e59
557582  2022-11-11 12:09:08                               NaN
557583  2022-11-11 12:09:47                               NaN
557584  2022-11-11 12:09:46                               NaN
557585  2022-11-11 12:09:48                               NaN

                      id_group_anonymous  \
557581  e56ec342fc599ebb4ed89655eb6f03aa
557582  5b10d7739171149be6d9961e3350c071
557583  1590a03f43b5ba4b6147a1c5e1dd357b
557584  5b10d7739171149be6d9961e3350c071
557585  b11f2df64ac19aad47a50accf32052d6

                                       media media_type  \
557581  25e43b6a58b848c43ad5b5f9e979822a.jpg        url
557582  657949d03e4088f6b332e2686ccd3221.jpg        url
557583  a21848a61045380a6483866daed0ca0e.jpg  image/jpg
557584  a21848a61045380a6483866daed0ca0e.jpg  image/jpg
557585  a21848a61045380a6483866daed0ca0e.jpg  image/jpg

                                                media_url  has_media  \
557581  https://terrabrasilnoticias.com/2022/11/bndes-...       True
557582                       https://youtu.be/8g1Vz9_0xVk       True
557583                           https://t.me/vemprasruas       True
557584                           https://t.me/vemprasruas       True
557585                           https://t.me/vemprasruas       True

        has_media_url  trava_zap  \
557581           True      False
557582           True      False
557583           True      False
557584           True      False
557585           True      False

                                   text_content_anonymous  dataset_info_id  \
557581  BNDES tem lucro de R$ 9,6 bilhões no terceiro ...                5
557582                       https://youtu.be/8g1Vz9_0xVk                5
557583  Empresários, demitam os petistas primeiro.\n\n...                5
557584  Empresários, demitam os petistas primeiro.\n\n...                5
557585  Empresários, demitam os petistas primeiro.\n\n...                5

                       date_system  score_sentiment  score_misinformation  \
557581  2022-11-16 14:49:39.146502           0.1027                   NaN
557582  2022-11-16 14:49:39.847434           0.0000                   NaN
557583  2022-11-16 14:49:39.922279           0.0000                   NaN
557584  2022-11-16 14:49:39.992932           0.0000                   NaN
557585  2022-11-16 14:49:40.064006           0.0000                   NaN

        id_message message_type messenger media_name  \
557581      575796          Url  telegram        NaN
557582     1286443          Url  telegram        NaN
557583       13294       Imagem  telegram        NaN
557584     1286444       Imagem  telegram        NaN
557585      192127       Imagem  telegram        NaN

                               media_md5
557581  25e43b6a58b848c43ad5b5f9e979822a
557582  657949d03e4088f6b332e2686ccd3221
557583  a21848a61045380a6483866daed0ca0e
557584  a21848a61045380a6483866daed0ca0e
557585  a21848a61045380a6483866daed0ca0e

---

### **(b)** Identificar e listar as posições (células) contendo valores faltantes

A biblioteca *pandas* será utilizada novamente neste item e, como já importamos no **item a**, não será necessário realizar um novo script de `import`.

Como vimos em sala de aula, é imprescíndivel realizar a identificação e listagem das células que contém valores faltantes, pois esses dados podem impactar diretamente nossas estimativas futuras. Portanto, não estou removendo nenhuma célula da base de dados, apenas analisando os dados `NaN`.

In [6]:
# VISUALIZANDO NOVAMENTE O NOSSO DATAFRAME
print(df_inicial)
df_inicial.describe()

               date_message               id_member_anonymous  \
0       2022-10-05 06:25:04  1078cc958f0febe28f4d03207660715f
1       2022-10-05 06:25:08                               NaN
2       2022-10-05 06:26:28  92a2d8fd7144074f659d1d29dc3751da
3       2022-10-05 06:27:28  d60aa38f62b4977426b70944af4aff72
4       2022-10-05 06:27:44  cd6979b0b5265f08468fa1689b6300ce
...                     ...                               ...
557581  2022-11-11 12:06:15  333e9869f23dbd4682d1be382d9c1e59
557582  2022-11-11 12:09:08                               NaN
557583  2022-11-11 12:09:47                               NaN
557584  2022-11-11 12:09:46                               NaN
557585  2022-11-11 12:09:48                               NaN

                      id_group_anonymous  \
0       12283e08a2eb5789201e105b34489ee7
1       12283e08a2eb5789201e105b34489ee7
2       9f2d7394334eb224c061c9740b5748fc
3       c8f2de56550ed0bf85249608b7ead93d
4       e56ec342fc599ebb4ed89655eb6f03aa
...                                  ...
557581  e56ec342fc599ebb4ed89655eb6f03aa
557582  5b10d7739171149be6d9961e3350c071
557583  1590a03f43b5ba4b6147a1c5e1dd357b
557584  5b10d7739171149be6d9961e3350c071
557585  b11f2df64ac19aad47a50accf32052d6

                                       media media_type  \
0                                        NaN        NaN
1                                        NaN        NaN
2                                        NaN        NaN
3       94dca4cda503100ebfda7ce2bcc060eb.jpg  image/jpg
4       5ad5c8bbe9da93a37fecf3e5aa5b0637.jpg  image/jpg
...                                      ...        ...
557581  25e43b6a58b848c43ad5b5f9e979822a.jpg        url
557582  657949d03e4088f6b332e2686ccd3221.jpg        url
557583  a21848a61045380a6483866daed0ca0e.jpg  image/jpg
557584  a21848a61045380a6483866daed0ca0e.jpg  image/jpg
557585  a21848a61045380a6483866daed0ca0e.jpg  image/jpg

                                                media_url  has_media  \
0                                                     NaN      False
1                                                     NaN      False
2                                                     NaN      False
3                                                     NaN       True
4                                                     NaN       True
...                                                   ...        ...
557581  https://terrabrasilnoticias.com/2022/11/bndes-...       True
557582                       https://youtu.be/8g1Vz9_0xVk       True
557583                           https://t.me/vemprasruas       True
557584                           https://t.me/vemprasruas       True
557585                           https://t.me/vemprasruas       True

        has_media_url  trava_zap  \
0               False      False
1               False      False
2               False      False
3               False      False
4               False      False
...               ...        ...
557581           True      False
557582           True      False
557583           True      False
557584           True      False
557585           True      False

                                   text_content_anonymous  dataset_info_id  \
0       Então é Fato Renato o áudio que eu ouvi no wha...                5
1       Saiu no YouTube do presidente a 8 horas atrás,...                5
2       É isso, nossa parte já foi quase toda feita. N...                5
3                GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA                5
4                                                     NaN                5
...                                                   ...              ...
557581  BNDES tem lucro de R$ 9,6 bilhões no terceiro ...                5
557582                       https://youtu.be/8g1Vz9_0xVk                5
557583  Empresários, demitam os petistas primeiro.\n\n...                5
557584  Empresários, demitam os petistas primeiro.\n\n...                5
557585  Empresários, demitam os petistas primeiro.\n\n...                5

                       date_system  score_sentiment  score_misinformation  \
0       2022-10-05 06:25:28.863641           0.0000                   NaN
1       2022-10-05 06:25:28.926311           0.0644                   NaN
2       2022-10-05 06:26:29.361949          -0.3551              0.157242
3       2022-10-05 06:27:29.935624           0.0000                   NaN
4       2022-10-05 06:28:29.316325              NaN                   NaN
...                            ...              ...                   ...
557581  2022-11-16 14:49:39.146502           0.1027                   NaN
557582  2022-11-16 14:49:39.847434           0.0000                   NaN
557583  2022-11-16 14:49:39.922279           0.0000                   NaN
557584  2022-11-16 14:49:39.992932           0.0000                   NaN
557585  2022-11-16 14:49:40.064006           0.0000                   NaN

        id_message message_type messenger media_name  \
0            16385        Texto  telegram        NaN
1            16386        Texto  telegram        NaN
2            16366        Texto  telegram        NaN
3            19281       Imagem  telegram        NaN
4           507185       Imagem  telegram        NaN
...            ...          ...       ...        ...
557581      575796          Url  telegram        NaN
557582     1286443          Url  telegram        NaN
557583       13294       Imagem  telegram        NaN
557584     1286444       Imagem  telegram        NaN
557585      192127       Imagem  telegram        NaN

                               media_md5
0                                    NaN
1                                    NaN
2                                    NaN
3       94dca4cda503100ebfda7ce2bcc060eb
4       5ad5c8bbe9da93a37fecf3e5aa5b0637
...                                  ...
557581  25e43b6a58b848c43ad5b5f9e979822a
557582  657949d03e4088f6b332e2686ccd3221
557583  a21848a61045380a6483866daed0ca0e
557584  a21848a61045380a6483866daed0ca0e
557585  a21848a61045380a6483866daed0ca0e

[557586 rows x 19 columns]

       dataset_info_id  score_sentiment  score_misinformation    id_message
count         557586.0    444157.000000         167238.000000  5.575860e+05
mean               5.0         0.017330              0.312245  4.450617e+05
std                0.0         0.464165              0.293699  4.860211e+05
min                5.0        -1.000000              0.000003  2.000000e+00
25%                5.0        -0.177900              0.078454  2.127500e+04
50%                5.0         0.000000              0.197577  1.210935e+05
75%                5.0         0.318200              0.490351  9.726045e+05
max                5.0         0.999200              1.000000  1.516436e+06

In [8]:
print(df_inicial.isnull())

        date_message  id_member_anonymous  id_group_anonymous  media  \
0              False                False               False   True
1              False                 True               False   True
2              False                False               False   True
3              False                False               False  False
4              False                False               False  False
...              ...                  ...                 ...    ...
557581         False                False               False  False
557582         False                 True               False  False
557583         False                 True               False  False
557584         False                 True               False  False
557585         False                 True               False  False

        media_type  media_url  has_media  has_media_url  trava_zap  \
0             True       True      False          False      False
1             True       True      False          False      False
2             True       True      False          False      False
3            False       True      False          False      False
4            False       True      False          False      False
...            ...        ...        ...            ...        ...
557581       False      False      False          False      False
557582       False      False      False          False      False
557583       False      False      False          False      False
557584       False      False      False          False      False
557585       False      False      False          False      False

        text_content_anonymous  dataset_info_id  date_system  score_sentiment  \
0                        False            False        False            False
1                        False            False        False            False
2                        False            False        False            False
3                        False            False        False            False
4                         True            False        False             True
...                        ...              ...          ...              ...
557581                   False            False        False            False
557582                   False            False        False            False
557583                   False            False        False            False
557584                   False            False        False            False
557585                   False            False        False            False

        score_misinformation  id_message  message_type  messenger  media_name  \
0                       True       False         False      False        True
1                       True       False         False      False        True
2                      False       False         False      False        True
3                       True       False         False      False        True
4                       True       False         False      False        True
...                      ...         ...           ...        ...         ...
557581                  True       False         False      False        True
557582                  True       False         False      False        True
557583                  True       False         False      False        True
557584                  True       False         False      False        True
557585                  True       False         False      False        True

        media_md5
0            True
1            True
2            True
3           False
4           False
...           ...
557581      False
557582      False
557583      False
557584      False
557585      False

[557586 rows x 19 columns]

O script abaixo é considerado um pouco "pesado" visto que está iterando sobre as linhas da base de dados e realizando um print todas as vezes que encontrar um valor NaN.

In [ ]:
# EXIBINDO OS RESULTADOS
# Identifica as posições (índices e colunas) onde há valores faltantes
missing_positions = [(row_idx, col_name)
                     for row_idx, row in df_inicial.iterrows()
                     for col_name, value in row.items()
                     if pd.isnull(value)]

# Exibe as posições encontradas
for pos in missing_positions:
    print(f"Valor faltante na linha {pos[0]}, coluna '{pos[1]}'")

---

### **(c)** Contar quantas linhas possuem valores faltantes.

Neste item, resolvi calcular não só quantas linhas possuem valores `NaN`, mas também exibir a quantidade total de células faltantes.

Este trecho de código identifica valores faltantes utilizando o método `.isnull()`, que retorna um DataFrame booleano, onde `True` indica a presença de um valor faltante. Em seguida, o método `.stack()` é utilizado para transformar as colunas em uma série com um índice multi-nível, facilitando a visualização das posições dos valores faltantes. 

A variável `missing_positions` filtra apenas as células com valor `True` (ou seja, com valor faltante).

In [7]:
# Identifica os valores faltantes com .isnull() e empilha o DataFrame (stack transforma colunas em uma série multi-index)
missing = df_inicial.isnull().stack()

# Filtra apenas as células com valor faltante (True)
missing_positions = missing[missing]

# Exibe as 10 primeiras posições com valores faltantes
print("As 10 primeiras posições com valores faltantes:")
print(missing_positions.head(10))

# Exibe o total de células faltantes
print(f"\nTotal de células com valores faltantes: {missing_positions.shape[0]}")

# Conta quantas linhas possuem pelo menos um valor faltante
linhas_com_nulos = df_inicial.isnull().any(axis=1).sum()
print(f"\nNúmero de linhas com pelo menos um valor faltante: {linhas_com_nulos}")

As 10 primeiras posições com valores faltantes:
0  media                   True
   media_type              True
   media_url               True
   score_misinformation    True
   media_name              True
   media_md5               True
1  id_member_anonymous     True
   media                   True
   media_type              True
   media_url               True
dtype: bool

Total de células com valores faltantes: 2544186

Número de linhas com pelo menos um valor faltante: 557561

**IMPORTANTE SABER!!**

Em um DataFrame, o número total de células é o produto entre o número de linhas e colunas, o que significa que o total de células sempre será maior que o número de linhas. 
Quando falamos sobre células faltantes, estamos nos referindo a quantas dessas células não possuem valor, e esse número pode ser muito maior que o número de linhas, especialmente se várias colunas tiverem muitos valores ausentes em várias linhas. Portanto, mesmo que o dataset tenha 557.586 registros (linhas), o total de células faltantes pode ser muito maior, dependendo de quantas colunas possuem dados ausentes em suas respectivas linhas.

---

### **(d)** Para cada coluna (feature), contar quantas linhas possuem valores faltantes.

A questão pede para contar quantas linhas possuem valores faltantes para cada coluna, o que está sendo solicitado é a quantidade de linhas (ou registros) em que cada coluna possui pelo menos um valor faltante. O proesso adotado para identificar isso foi realizado da seguinte forma:

- df_inicial.isnull(): Cria um DataFrame booleano onde True indica um valor faltante e False indica um valor presente.
- .sum(axis=0): Conta quantos True existem em cada coluna (ou seja, quantas linhas têm valores faltantes para aquela coluna específica).
- missing_lines_per_column.items(): Itera sobre as colunas e o número de valores faltantes em cada uma delas, imprimindo a quantidade de linhas com dados faltantes.

In [8]:
# Conta quantas linhas possuem pelo menos um valor faltante para cada coluna
missing_lines_per_column = df_inicial.isnull().sum(axis=0)

# Exibe o número de linhas com valores faltantes por coluna
print("\nNúmero de linhas com pelo menos um valor faltante por coluna:")
for column, missing_count in missing_lines_per_column.items():
    print(f"Coluna '{column}': {missing_count:,} linha(s) com valor(es) faltante(s)")

Número de linhas com pelo menos um valor faltante por coluna:
Coluna 'date_message': 0 linha(s) com valor(es) faltante(s)
Coluna 'id_member_anonymous': 323,341 linha(s) com valor(es) faltante(s)
Coluna 'id_group_anonymous': 0 linha(s) com valor(es) faltante(s)
Coluna 'media': 224,981 linha(s) com valor(es) faltante(s)
Coluna 'media_type': 224,981 linha(s) com valor(es) faltante(s)
Coluna 'media_url': 400,141 linha(s) com valor(es) faltante(s)
Coluna 'has_media': 0 linha(s) com valor(es) faltante(s)
Coluna 'has_media_url': 0 linha(s) com valor(es) faltante(s)
Coluna 'trava_zap': 0 linha(s) com valor(es) faltante(s)
Coluna 'text_content_anonymous': 113,385 linha(s) com valor(es) faltante(s)
Coluna 'dataset_info_id': 0 linha(s) com valor(es) faltante(s)
Coluna 'date_system': 0 linha(s) com valor(es) faltante(s)
Coluna 'score_sentiment': 113,429 linha(s) com valor(es) faltante(s)
Coluna 'score_misinformation': 390,348 linha(s) com valor(es) faltante(s)
Coluna 'id_message': 0 linha(s) com valor(es) faltante(s)
Coluna 'message_type': 0 linha(s) com valor(es) faltante(s)
Coluna 'messenger': 0 linha(s) com valor(es) faltante(s)
Coluna 'media_name': 528,599 linha(s) com valor(es) faltante(s)
Coluna 'media_md5': 224,981 linha(s) com valor(es) faltante(s)

### **(e)** Identificar e listar as linhas repetidas (duplicadas).

Da mesma forma que usamos `pandas`para identificar e listar valores NaN, podemos utilizá-lo para identificar e tratar dados duplicados utilizando um procedimento chamado `.duplicated()`. Esse método verifica se uma linha é idêntica a uma linha anterior e retorna um Dataframe com valores `True` quando há linhas duplicadas.

Além disso, se quisermos considerar uma única coluna para identificar duplicatas, podemos apenas passar o número da coluna durante a chamada do método.

In [9]:
# Identifica as linhas duplicadas
duplicatas = df_inicial[df_inicial.duplicated()]

# Exibe as 10 primeiras linhas duplicadas
print("As 10 primeiras linhas duplicadas:")
print(duplicatas.head(10))

# Exibe o número total de linhas duplicadas
print(f"\nTotal de linhas duplicadas: {duplicatas.shape[0]}")

# Exibe as duplicatas completas (incluindo a primeira ocorrência)
duplicatas_completas = df_inicial[df_inicial.duplicated(keep=False)]

# Exibe as duplicatas completas
print("\nLinhas duplicadas (incluindo a primeira ocorrência):")
print(duplicatas_completas.head(10))

As 10 primeiras linhas duplicadas:
Empty DataFrame
Columns: [date_message, id_member_anonymous, id_group_anonymous, media, media_type, media_url, has_media, has_media_url, trava_zap, text_content_anonymous, dataset_info_id, date_system, score_sentiment, score_misinformation, id_message, message_type, messenger, media_name, media_md5]
Index: []

Total de linhas duplicadas: 0

Linhas duplicadas (incluindo a primeira ocorrência):
Empty DataFrame
Columns: [date_message, id_member_anonymous, id_group_anonymous, media, media_type, media_url, has_media, has_media_url, trava_zap, text_content_anonymous, dataset_info_id, date_system, score_sentiment, score_misinformation, id_message, message_type, messenger, media_name, media_md5]
Index: []

Já que nenhuma linha inteira está duplicada, eu resolvi criar um script para identificar duplicatas por features da seguinte forma:

In [10]:
# Para cada coluna, identifica e exibe os valores duplicados e sua contagem
for coluna in df_inicial.columns:
    duplicados = df_inicial[coluna][df_inicial[coluna].duplicated(keep=False)]
    if not duplicados.empty:
        print(f"\nColuna '{coluna}' - Total de valores duplicados (incluindo repetições): {duplicados.shape[0]}")
        print("Valores mais comuns duplicados:")
        print(duplicados.value_counts().head(5))  # Mostra os 5 valores duplicados mais comuns
    else:
        print(f"\nColuna '{coluna}' - Nenhum valor duplicado encontrado.")

Coluna 'date_message' - Total de valores duplicados (incluindo repetições): 201714
Valores mais comuns duplicados:
date_message
2022-10-12 16:55:36    62
2022-10-30 13:52:37    59
2022-10-12 16:55:34    58
2022-10-06 12:38:50    53
2022-10-06 14:22:13    53
Name: count, dtype: int64

Coluna 'id_member_anonymous' - Total de valores duplicados (incluindo repetições): 551247
Valores mais comuns duplicados:
id_member_anonymous
abe534d581ec6d552243d6955d3c3cd8    12289
1665e22b0f564cd46d343f7677014821     5452
1ac091b8ed5c4e42383f1b4ff4cc9b2d     5060
c743967449a387ad2c1c7e03b2c45b36     3019
e7998863ac2a40086657fab4a6b463c9     1928
Name: count, dtype: int64

Coluna 'id_group_anonymous' - Total de valores duplicados (incluindo repetições): 557584
Valores mais comuns duplicados:
id_group_anonymous
5b10d7739171149be6d9961e3350c071    112228
857cd5311da1bdc15eb9e6918a47c6c6     76912
b8a8737812c7fd7d3e0bdbb65ef6306f     35983
e56ec342fc599ebb4ed89655eb6f03aa     35713
959f13e0079883060632c74ffc81c547     20565
Name: count, dtype: int64

Coluna 'media' - Total de valores duplicados (incluindo repetições): 445448
Valores mais comuns duplicados:
media
b5ab97b82ce9a3957022b7388d8fb910.apk    5473
4d60b50f292b14a9d62a0bb2f1b42796.jpg    1847
5d4089a914ac6fa7d04cbe08bb8057f5.apk    1481
c4266d6971f2e3517f99d5736d8f0f40.jpg    1404
baba583ff1a3a79f11ed019cc319f2f2.jpg    1136
Name: count, dtype: int64

Coluna 'media_type' - Total de valores duplicados (incluindo repetições): 557567
Valores mais comuns duplicados:
media_type
image/jpg                                  200441
url                                        100856
video/mp4                                   18497
application/vnd.android.package-archive      7159
application/pdf                              2850
Name: count, dtype: int64

Coluna 'media_url' - Total de valores duplicados (incluindo repetições): 522256
Valores mais comuns duplicados:
media_url
t.me/alexeconomia                                  4159
https://youtube.com/c/especulandoosfatosoficial    1607
t.me/fimtaproximo                                  1581
t.me/+EWlGMatRZGg3OTlh                             1419
https://youtu.be/qbTzhB0akt8                       1160
Name: count, dtype: int64

Coluna 'has_media' - Total de valores duplicados (incluindo repetições): 557586
Valores mais comuns duplicados:
has_media
True     332605
False    224981
Name: count, dtype: int64

Coluna 'has_media_url' - Total de valores duplicados (incluindo repetições): 557586
Valores mais comuns duplicados:
has_media_url
False    400141
True     157445
Name: count, dtype: int64

Coluna 'trava_zap' - Total de valores duplicados (incluindo repetições): 557586
Valores mais comuns duplicados:
trava_zap
False    557570
True         16
Name: count, dtype: int64

Coluna 'text_content_anonymous' - Total de valores duplicados (incluindo repetições): 339922
Valores mais comuns duplicados:
text_content_anonymous
This community was blocked in Brazil following a decision of the Superior Electoral Court (TSE).                                                                                                                                                                                                                                                                         17422
Rough_sex🙈                                                                                                                                                                                                                                                                                                                                                                1134
Anal sex🙈                                                                                                                                                                                                                                                                                                                                                                 1118
سکس مردان ازبک با زن انگلیسی با این vpn از سایتهای ممنوعه ببینید🙈\n\nشاهد الرجال الأوزبكيين يمارسون الجنس مع النساء الإنجليزيات باستخدام VPN هذا من المواقع المحظورة🚫\n\nTaqiqlangan saytlardan bu vpn orqali o'zbek erkaklari ingliz ayollari bilan jinsiy aloqa qilishlarini ko'ring\n\nSee Uzbek men having sex with English women with this vpn from banned sites     1019
https://youtu.be/qbTzhB0akt8                                                                                                                                                                                                                                                                                                                                               758
Name: count, dtype: int64

Coluna 'dataset_info_id' - Total de valores duplicados (incluindo repetições): 557586
Valores mais comuns duplicados:
dataset_info_id
5    557586
Name: count, dtype: int64

Coluna 'date_system' - Nenhum valor duplicado encontrado.

Coluna 'score_sentiment' - Total de valores duplicados (incluindo repetições): 555587
Valores mais comuns duplicados:
score_sentiment
 0.0000    179968
 0.5423     18247
-0.1531      8977
-0.2960      7740
 0.7096      5923
Name: count, dtype: int64

Coluna 'score_misinformation' - Total de valores duplicados (incluindo repetições): 476706
Valores mais comuns duplicados:
score_misinformation
0.110628    1019
0.064152     632
0.018844     585
0.158725     480
0.023719     469
Name: count, dtype: int64

Coluna 'id_message' - Total de valores duplicados (incluindo repetições): 251533
Valores mais comuns duplicados:
id_message
1023    18
1031    18
1396    18
1614    18
1012    18
Name: count, dtype: int64

Coluna 'message_type' - Total de valores duplicados (incluindo repetições): 557586
Valores mais comuns duplicados:
message_type
Texto          224981
Imagem         202762
Url            100856
Video           18631
Application     10168
Name: count, dtype: int64

Coluna 'messenger' - Total de valores duplicados (incluindo repetições): 557586
Valores mais comuns duplicados:
messenger
telegram    557586
Name: count, dtype: int64

Coluna 'media_name' - Total de valores duplicados (incluindo repetições): 547568
Valores mais comuns duplicados:
media_name
سکس زوری.apk        2723
سک.س از ک.ون.apk    1836
لزبین.apk            991
سکس خفن.apk          651
س.کس خشن.apk         476
Name: count, dtype: int64

Coluna 'media_md5' - Total de valores duplicados (incluindo repetições): 441471
Valores mais comuns duplicados:
media_md5
b5ab97b82ce9a3957022b7388d8fb910    5480
4d60b50f292b14a9d62a0bb2f1b42796    1868
5d4089a914ac6fa7d04cbe08bb8057f5    1481
c4266d6971f2e3517f99d5736d8f0f40    1419
baba583ff1a3a79f11ed019cc319f2f2    1151
Name: count, dtype: int64

Para fins de compreensão da análise, é possível tirar as seguintes conclusões:
- Coluna `data_message`:
    - Duplicados: 201.714 datas repetidas.
    - Indica que muitas mensagens foram enviadas no mesmo segundo, então faz sentido dado que nosso dataset trabalha com grupos de mensagem com muitos membros.
- Coluna `id_member_anonymous`:
    - Duplicados: 551.247 ocorrências repetidas.
    - Mostra que um mesmo usário enviou várias mensagens.
    - Por exemplo, teve um único usuário que enviou aproximadamente 12 mil mensagens.
- Coluna `id_group_anonymous`:
    - Duplicados: 557.584 repetições
    - Indica que muitas mensagens vieram dos mesmos grupos.

---

### **(f)** Identificar e listar as posições (células) contendo valores que não pertencem ao domínio (tipo de dados) esperado.

Para realizar essa identificação, vamos seguir um conjunto de passos para tornar a análise mais organizada.

#### **Passo 01**
Inspeção dos tipos das colunas

In [11]:
print("Tipos de dados das colunas:")
print(df_inicial.dtypes)

Tipos de dados das colunas:
date_message               object
id_member_anonymous        object
id_group_anonymous         object
media                      object
media_type                 object
media_url                  object
has_media                    bool
has_media_url                bool
trava_zap                    bool
text_content_anonymous     object
dataset_info_id             int64
date_system                object
score_sentiment           float64
score_misinformation      float64
id_message                  int64
message_type               object
messenger                  object
media_name                 object
media_md5                  object
dtype: object

#### **Passo 02**
Agora, vamos analisar as estatísticas gerais.

In [12]:
print("\nEstatísticas descritivas (colunas numéricas):")
print(df_inicial.describe())

print("\nEstatísticas descritivas (colunas categóricas):")
print(df_inicial.describe(include='object'))

Estatísticas descritivas (colunas numéricas):
       dataset_info_id  score_sentiment  score_misinformation    id_message
count         557586.0    444157.000000         167238.000000  5.575860e+05
mean               5.0         0.017330              0.312245  4.450617e+05
std                0.0         0.464165              0.293699  4.860211e+05
min                5.0        -1.000000              0.000003  2.000000e+00
25%                5.0        -0.177900              0.078454  2.127500e+04
50%                5.0         0.000000              0.197577  1.210935e+05
75%                5.0         0.318200              0.490351  9.726045e+05
max                5.0         0.999200              1.000000  1.516436e+06

Estatísticas descritivas (colunas categóricas):
               date_message               id_member_anonymous  \
count                557586                            234245
unique               430133                             14809
top     2022-10-12 16:55:36  abe534d581ec6d552243d6955d3c3cd8
freq                     62                             12289

                      id_group_anonymous  \
count                             557586
unique                               178
top     5b10d7739171149be6d9961e3350c071
freq                              112228

                                       media media_type          media_url  \
count                                 332605     332605             157445
unique                                163503         67              56552
top     b5ab97b82ce9a3957022b7388d8fb910.apk  image/jpg  t.me/alexeconomia
freq                                    5473     200441               4159

                                   text_content_anonymous  \
count                                              444201
unique                                             265326
top     This community was blocked in Brazil following...
freq                                                17422

                       date_system message_type messenger    media_name  \
count                       557586       557586    557586         28987
unique                      557586            8         1         13787
top     2022-10-05 06:25:28.863641        Texto  telegram  سکس زوری.apk
freq                             1       224981    557586          2723

                               media_md5
count                             332605
unique                            164864
top     b5ab97b82ce9a3957022b7388d8fb910
freq                                5480

#### **Passo 03**
Elaborando as regras de domínio esperadas, visto que precisamos definir o que é esperado para cada coluna, com base nos tipos e contexto dos dados.


Usando a biblioteca `numpy` porque ela fornece tipos de dados eficientes e funções robustas para verificação de valores, como distinguir corretamente entre inteiros, floats e booleanos, mesmo quando os dados vêm de fontes ambíguas (como arquivos CSV, onde tudo pode ser lido como string). 

Verificar se os valores estão dentro do domínio esperado é fundamental para garantir a integridade dos dados: valores fora do intervalo válido ou com tipo incorreto podem comprometer análises estatísticas, modelos de machine learning ou a própria compreensão do fenômeno estudado. Esse passo assegura que os dados sejam consistentes e confiáveis para as etapas seguintes da análise.

In [17]:
import numpy as np

In [27]:
# Análise exploratória dos valores nas colunas categóricas
for col in ['media_type', 'message_type', 'messenger']:
    print(f"Valores únicos na coluna {col}:")
    print(df_inicial[col].unique())
    print(f"Contagem de valores na coluna {col}:")
    print(df_inicial[col].value_counts())
    print("\n")

Valores únicos na coluna media_type:
[nan 'image/jpg' 'video/mp4' 'url' 'image/mp4' 'audio/opus' 'image/pdf'
 'application/pdf' 'video/webm' 'image/webm' 'image/apk'
 'application/vnd.android.package-archive' 'application/octet-stream'
 'video/quicktime' 'application/zip' 'video/mpeg'
 'image/59da33c80babcbb29455fccb21329cae' 'text/x-vcard' 'video/3gpp'
 'image/mpv' 'video/x-matroska' 'image/mpeg' 'image/mov'
 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
 'audio/aac' 'image/7f9d809d82c2545a2dc8160d5015c8ad' 'audio/mpeg'
 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
 'image/wma' 'audio/x-ms-wma' 'image/mp3' 'text/html' 'video/x-ms-wmv'
 'application/vnd.ms-xpsdocument' 'image/xps' 'application/json'
 'application/gzip' 'audio/ogg' 'image/gif'
 'application/x-partial-download' 'image/jpeg' 'image/heic'
 'application/x-ms-dos-executable' 'image/oga'
 'image/f733407db79a2b74eff03a89529e5d57'
 'image/b39768873845aaea0f8ab41b2e9c0061' 'image/msi'
 'image/02d0e99ce96591d1e3d354ebb0690607' 'application/x-msi'
 'application/vnd.openxmlformats-officedocument.presentationml.presentation'
 'image/08e8201b6f32c358808c7ac89d8c8422' 'application/x-mimearchive'
 'video/x-flv' 'image/wmv' 'image/flv'
 'image/45dbf1564a99d025ade111ea1dd2add5' 'application/sdoc' 'image/adts'
 'audio/x-wav' 'image/wav' 'image/m4a' 'audio/m4a' 'image/f4v' 'image/gz'
 'image/xlsx' 'image/af75130da3b6516eb3c1eb9ab62b5219'
 'application/binary' 'image/b0cf97975368a5ebec0eb3d25e695e1c']
Contagem de valores na coluna media_type:
media_type
image/jpg                                  200441
url                                        100856
video/mp4                                   18497
application/vnd.android.package-archive      7159
application/pdf                              2850
                                            ...
audio/x-ms-wma                                  1
image/wma                                       1
image/7f9d809d82c2545a2dc8160d5015c8ad          1
text/x-vcard                                    1
image/b0cf97975368a5ebec0eb3d25e695e1c          1
Name: count, Length: 67, dtype: int64


Valores únicos na coluna message_type:
['texto' 'imagem' 'video' 'url' 'audio' 'application' 'text' 'image']
Contagem de valores na coluna message_type:
message_type
texto          224981
imagem         202762
url            100856
video           18631
application     10168
audio             177
image               8
text                3
Name: count, dtype: int64


Valores únicos na coluna messenger:
['telegram']
Contagem de valores na coluna messenger:
messenger
telegram    557586
Name: count, dtype: int64

In [39]:
# Conversão de datas
df_inicial['date_message'] = pd.to_datetime(df_inicial['date_message'], errors='coerce')
df_inicial['date_system'] = pd.to_datetime(df_inicial['date_system'], errors='coerce')

# Normalização de colunas categóricas
colunas_categoricas = ['media_type', 'message_type', 'messenger']
for col in colunas_categoricas:
    df_inicial[col] = df_inicial[col].astype(str).str.lower().str.strip().replace({'nan': np.nan})

# Lista para armazenar violações
violacoes = []

# Loop de validação
for idx, row in df_inicial.iterrows():
    # score_sentiment: deve estar entre -1 e 1
    s = row['score_sentiment']
    if pd.notnull(s) and (s < -1 or s > 1):
        violacoes.append((idx, 'score_sentiment', s))

    # score_misinformation: deve estar entre 0 e 1
    m = row['score_misinformation']
    if pd.notnull(m) and (m < 0 or m > 1):
        violacoes.append((idx, 'score_misinformation', m))

    # dataset_info_id: deve ser exatamente 5
    d = row['dataset_info_id']
    if d != 5:
        violacoes.append((idx, 'dataset_info_id', d))

    # id_message: deve ser inteiro positivo
    im = row['id_message']
    if not isinstance(im, (int, np.integer)) or im < 0:
        violacoes.append((idx, 'id_message', im))

    # Datas válidas
    if pd.isnull(row['date_message']):
        violacoes.append((idx, 'date_message', 'data inválida'))
    if pd.isnull(row['date_system']):
        violacoes.append((idx, 'date_system', 'data inválida'))

    # Colunas booleanas
    for col in ['has_media', 'has_media_url', 'trava_zap']:
        if not isinstance(row[col], (bool, np.bool_)):
            violacoes.append((idx, col, row[col]))

    # Verificação se as colunas categóricas são do tipo string (objeto válido)
    for col in colunas_categoricas:
        val = row[col]
        if pd.notnull(val) and not isinstance(val, str):
            violacoes.append((idx, col, val))

# Resultado
print(f"Total de violações de tipo categórico: {len(violacoes)}")
for v in violacoes[:10]:
    print(f"Violação na linha {v[0]}, coluna '{v[1]}': valor '{v[2]}'")

Total de violações de tipo categórico: 0

A forma como definimos o domínio de uma feature, baseando-se em análise anteriores dos dados, pode ocasionar ou não em violações. No códifo em questão, ele foi editado várias vezes com o objetivo de entender as violações que estavam sendo consideradas e se elas realmente faziam sentido dado a feature estudada.

Lembrando que, realizar a validação dessa forma foi uma escolha minha, mesmo sabendo que existem outras formas mais fáceis de validar, sem precisar necessariamente de um conjunto pré-definido. Essa escolhafoi feita apenas para ter certeza de que as features object não estavam com dados diferentes do esperado e eu poderia fazer um .unique() para capturar todos os valores existentes nessas colunas em específico.

Este código garante que dados como datas, valores booleanos e pontuações estejam consistentes com suas definições, ajudando a identificar erros que poderiam comprometer a análise posterior.

---

### **(g)** Crie uma coluna chamada “caracteres” contendo a quantidade de caracteres da coluna “text”

In [30]:
# LISTANDO NOVAMENTE AS COLUNAS DO DATABASE APENAS PARA FICAR MAIS FÁCIL DE VISUALIZAR
list(df_inicial.columns)

['date_message',
 'id_member_anonymous',
 'id_group_anonymous',
 'media',
 'media_type',
 'media_url',
 'has_media',
 'has_media_url',
 'trava_zap',
 'text_content_anonymous',
 'dataset_info_id',
 'date_system',
 'score_sentiment',
 'score_misinformation',
 'id_message',
 'message_type',
 'messenger',
 'media_name',
 'media_md5']

Para resolver este item, podemos seguir alguns passos importantes. Mesmo sabendo que a coluna `text_content_anonymous` existe, é importante fazer uma verificação inicial de que ela faz parte do nosso database.

Depois disso, é necessário dar uma atenção especial aos valores faltantes, isto é, verificar se faz sentido converter valores `NaN`para string vazia ou deixá-los dessa forma. Depois, podemos apenas criar a coluna `caracteres` utilizando o que aprendemos em sala de aula.

In [3]:
# Criação da coluna 'caracteres' com a quantidade de caracteres da coluna 'text_content_anonymous'
df_inicial['caracteres'] = df_inicial['text_content_anonymous'].apply(
    lambda x: len(str(x)) if pd.notnull(x) else 0
)

# Exibição de uma amostra aleatória para conferência
print(df_inicial[['text_content_anonymous', 'caracteres']].sample(5, random_state=42))

                                   text_content_anonymous  caracteres
442837                                                NaN           0
495617        https://www.youtube.com/watch?v=wzJ5cV69OsA          43
504220  A INACREDITÁVEL CENSURA ÀS FALAS DE CARLA CECA...         299
251559  No "apagar das luzes", Daniel Silveira dispara...          66
520667                                                NaN           0

---

### **(h)** Crie uma coluna chamada “words” contendo a quantidade de palavras da coluna “text”.

Mesma coisa do item anterior, mas vamos utilizar o `.split()` que separa a string em uma lista de palavras com base em espaços.

In [4]:
df_inicial['words'] = df_inicial['text_content_anonymous'].apply(
    lambda x: len(str(x).split()) if pd.notnull(x) else 0
)

print(df_inicial[['text_content_anonymous', 'words']].sample(5, random_state=42))

                                   text_content_anonymous  words
442837                                                NaN      0
495617        https://www.youtube.com/watch?v=wzJ5cV69OsA      1
504220  A INACREDITÁVEL CENSURA ÀS FALAS DE CARLA CECA...     25
251559  No "apagar das luzes", Daniel Silveira dispara...     12
520667                                                NaN      0

---

### **(i)**  Crie uma coluna chamada “viral” contendo o valor 0 se o texto da mensagem (valor do campo “text”) não for encontrado em outras linhas e 1, caso contrário.

Basicamente, vamos utilizar os mesmos conhecimentos aplicados para identificar e listar duplicatas. Para isso, utilizei o método `duplicated(keep=False)`, que marca como `True` todas as ocorrências de valores repetidos (não apenas as subsequentes). Em seguida, converti o resultado para inteiro (`1` para mensagens virais, `0` para únicas). Também tratei os valores ausentes da coluna `text_content_anonymous` como **não virais**.

In [40]:
df_inicial['viral'] = df_inicial['text_content_anonymous'].duplicated(keep=False)
df_inicial['viral'] = df_inicial['viral'].where(df_inicial['text_content_anonymous'].notna(), 0).astype(int)

print(df_inicial[['text_content_anonymous', 'viral']].sample(5, random_state=42))

                                   text_content_anonymous  viral
442837                                                NaN      0
495617        https://www.youtube.com/watch?v=wzJ5cV69OsA      0
504220  A INACREDITÁVEL CENSURA ÀS FALAS DE CARLA CECA...      1
251559  No "apagar das luzes", Daniel Silveira dispara...      0
520667                                                NaN      0

---

### **(j)** Crie uma coluna chamada “sharings” contendo a quantidade de vezes que o texto armazenado no atributo “text” aparece no dataset.

Para criar a coluna `sharings`, utilizei a função `groupby().transform('count')` sobre a variável `text_content_anonymous`. Essa abordagem permite contar quantas vezes cada texto aparece no dataset, atribuindo esse número à nova coluna para todas as linhas com o mesmo conteúdo. Também tratei os valores ausentes (`NaN`), substituindo seus compartilhamentos por 0, já que não representam mensagens válidas a serem compartilhadas.

In [5]:
df_inicial['sharings'] = df_inicial.groupby('text_content_anonymous')['text_content_anonymous'].transform('count')

# textos ausentes (NaN) tratados como 0 compartilhamentos
df_inicial['sharings'] = df_inicial['sharings'].where(df_inicial['text_content_anonymous'].notna(), 0)

print(df_inicial[['text_content_anonymous', 'sharings']].sample(5, random_state=42))

                                   text_content_anonymous  sharings
442837                                                NaN       0.0
495617        https://www.youtube.com/watch?v=wzJ5cV69OsA       1.0
504220  A INACREDITÁVEL CENSURA ÀS FALAS DE CARLA CECA...       8.0
251559  No "apagar das luzes", Daniel Silveira dispara...       1.0
520667                                                NaN       0.0

### **(k)**  Crie uma coluna chamada “sentiment” contendo os valores: -1 para textos negativos, 0 para textos neutros e 1 para textos positivos.

Para criar a coluna sentiment, utilizei uma coluna já existente no database: `score_sentiment` onde o sentimento já foi pré-computado e muito provavelmente representa a polaridade de cada texto.

In [6]:
# ANALISANDO AS PRIMEIRAS 15 LINHAS PARA VER COMO OS DADOS ESTÃO VINDO
print(df_inicial[['text_content_anonymous', 'score_sentiment']].head(15))

                               text_content_anonymous  score_sentiment
0   Então é Fato Renato o áudio que eu ouvi no wha...           0.0000
1   Saiu no YouTube do presidente a 8 horas atrás,...           0.0644
2   É isso, nossa parte já foi quase toda feita. N...          -0.3551
3            GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA           0.0000
4                                                 NaN              NaN
5   Kķkkkkk to rindo até agora....Quem disse q ia ...           0.7003
6   *SE ALGUÉM TE PERGUNTAR O QUE FOI QUE BOLSONAR...           0.9716
7                                                 NaN              NaN
8                                                 NaN              NaN
9   O Deputado Federal pelo NOVO e que foi candida...          -0.8779
10  Saiam desse grupo amigos bolsonaristas, urgent...          -0.9423
11  Gazprom da Rússia: Retomamos o fornecimento de...          -0.1531
12  Saiam desse grupo amigos bolsonaristas, urgent...          -0.9596
13  Saiam desse grupo amigos bolsonaristas, urgent...          -0.9423
14  Saiam desse grupo amigos bolsonaristas, urgent...          -0.9596

In [9]:
# FUNÇÃO PARA CLASSIFICAR POLARIDADES
def classificar_sentimento(score):
    if pd.isna(score):
        return None 
    elif score >= 0.05:
        return 1
    elif score <= -0.05:
        return -1
    else:
        return 0

# Aplica a função
df_inicial['sentiment'] = df_inicial['score_sentiment'].apply(classificar_sentimento)

# Arredonda a coluna score_sentiment para 3 casas decimais (apenas para visualização)
df_inicial['score_sentiment'] = df_inicial['score_sentiment'].round(3)

# Mostra 10 exemplos com texto, score e sentimento
print(df_inicial[['text_content_anonymous', 'score_sentiment', 'sentiment']].dropna().head(10))

                               text_content_anonymous  score_sentiment  \
0   Então é Fato Renato o áudio que eu ouvi no wha...            0.000
1   Saiu no YouTube do presidente a 8 horas atrás,...            0.064
2   É isso, nossa parte já foi quase toda feita. N...           -0.355
3            GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA            0.000
5   Kķkkkkk to rindo até agora....Quem disse q ia ...            0.700
6   *SE ALGUÉM TE PERGUNTAR O QUE FOI QUE BOLSONAR...            0.972
9   O Deputado Federal pelo NOVO e que foi candida...           -0.878
10  Saiam desse grupo amigos bolsonaristas, urgent...           -0.942
11  Gazprom da Rússia: Retomamos o fornecimento de...           -0.153
12  Saiam desse grupo amigos bolsonaristas, urgent...           -0.960

    sentiment
0         0.0
1         1.0
2        -1.0
3         0.0
5         1.0
6         1.0
9        -1.0
10       -1.0
11       -1.0
12       -1.0

### **(l)** Eliminar as linhas cujo valor da coluna “text” contenham “trava-zaps”.

Criei um novo DataFrame chamado `df_final` a partir do df_inicial para garantir que a exclusão das linhas contendo o termo "trava-zaps" na coluna "text_content_anonymous" seja feita de forma controlada, sem afetar os dados originais. 

Dessa forma, consigo preservar a integridade do df_inicial para futuras análises ou verificações, ao mesmo tempo em que manipulo o df_final para as etapas seguintes do processo. Essa abordagem também ajuda a evitar problemas no caso de precisar reverter ou comparar as transformações feitas, proporcionando maior flexibilidade e segurança no tratamento dos dados.

Como já analisado, existe uma coluna chamada `trava-zap` no database e, para entender se ela será útil ou não para remoção dessas linhas, realizei um print nas 10 primeiras linhas dessa colunas, mas eu também poderia apenas fazer um `.dtype` e analisar como essa coluna se comporta.

In [13]:
print(df_inicial['trava_zap'].head(10))

# Verifica os valores únicos da coluna 'trava_zap'
valores_unicos = df_inicial['trava_zap'].unique()

# Exibe os valores únicos
print(valores_unicos)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: trava_zap, dtype: bool
[False  True]

In [ ]:
# Verifica o número de linhas antes da remoção
num_linhas_antes = len(df_inicial)

# Identifica as linhas que serão removidas
linhas_removidas = df_inicial[df_inicial['trava_zap'] == True]

# Filtra apenas as linhas onde 'trava_zap' é False
df_inicial = df_inicial[df_inicial['trava_zap'] == False]

# Verifica o número de linhas após a remoção
num_linhas_depois = len(df_inicial)

# Mostra quantas linhas foram removidas
print(f'Número de linhas removidas: {num_linhas_antes - num_linhas_depois}')

# Exibe as linhas removidas
print("Linhas removidas:")
print(linhas_removidas)

In [17]:
# PARA MELHOR VISUALIZAÇÃO
print("Número de linhas:", df_inicial.shape[0])
print("Número de colunas:", df_inicial.shape[1])
print("Nome das colunas:", df_inicial.columns)

Número de linhas: 557570
Número de colunas: 23
Nome das colunas: Index(['date_message', 'id_member_anonymous', 'id_group_anonymous', 'media',
       'media_type', 'media_url', 'has_media', 'has_media_url', 'trava_zap',
       'text_content_anonymous', 'dataset_info_id', 'date_system',
       'score_sentiment', 'score_misinformation', 'id_message', 'message_type',
       'messenger', 'media_name', 'media_md5', 'caracteres', 'words',
       'sharings', 'sentiment'],
      dtype='object')

### **(m)** Identificar inconsistências entre os atributos (features).

Durante a análise do dataset, é fundamental identificar e corrigir possíveis inconsistências entre os atributos, considerando as dependências entre as features. 

Primeiro, é necessário verificar valores nulos nas colunas, decidindo se vamos preencher com valores padrões ou remover as linhas/colunas. Em seguida, devemos identificar duplicatas, garantindo que cada entrada seja única. 

A verificação de tipos de dados já foi feita em itens anteriores, mas é sempre importante garantir que os tipos estejam corretos, como no caso das colunas de data ou booleanas. Outra análise essencial é a consistência entre colunas relacionadas, como por exemplo, se `has_media` for `True`, as colunas `media` e `media_url` não podem estar vazias. Além disso, as datas precisam estar em conformidade, com `date_message` não sendo posterior a `date_system`. Também é importante identificar valores fora de contexto, como scores fora do intervalo esperado, e garantir que eles estejam dentro dos parâmetros lógicos. Essas verificações ajudam a aprimorar a qualidade e confiabilidade dos dados, possibilitando análises mais precisas.

In [19]:
# APENAS PARA DEIXAR MAIS FÁCIL DE ACESSAR
print("Tipos de dados das colunas:")
print(df_inicial.dtypes)

Tipos de dados das colunas:
date_message               object
id_member_anonymous        object
id_group_anonymous         object
media                      object
media_type                 object
media_url                  object
has_media                    bool
has_media_url                bool
trava_zap                    bool
text_content_anonymous     object
dataset_info_id             int64
date_system                object
score_sentiment           float64
score_misinformation      float64
id_message                  int64
message_type               object
messenger                  object
media_name                 object
media_md5                  object
caracteres                  int64
words                       int64
sharings                  float64
sentiment                 float64
dtype: object

In [27]:
# Inicializar o contador de inconsistências
contador_inconsistencias = 0

# Criar uma coluna auxiliar para marcar as linhas já verificadas como inconsistentes
df_inicial['inconsistencia_verificada'] = False

# Verificação de inconsistências de mídia: has_media = True e todas as colunas relacionadas a mídia são NaN
colunas_midia = ['media', 'media_type', 'media_url', 'media_name', 'media_md5']
inconsistencias_midia = df_inicial[
    (df_inicial['has_media'] == True) &
    (df_inicial[colunas_midia].isna().all(axis=1))
]
contador_inconsistencias += len(inconsistencias_midia)
df_inicial.loc[inconsistencias_midia.index, 'inconsistencia_verificada'] = True
print(f"Inconsistências de mídia encontradas: {len(inconsistencias_midia)} linhas")
print(inconsistencias_midia[['id_message', 'has_media'] + colunas_midia])

# Verificação de inconsistências de data (onde 'date_message' é maior que 'date_system')
inconsistencias_data = df_inicial[(df_inicial['date_message'] > df_inicial['date_system']) & (~df_inicial['inconsistencia_verificada'])]
contador_inconsistencias += len(inconsistencias_data)
df_inicial.loc[inconsistencias_data.index, 'inconsistencia_verificada'] = True
print(f"Inconsistências de data encontradas: {contador_inconsistencias} linhas")
print(inconsistencias_data[['id_message', 'date_message', 'date_system']])

# Verificação de inconsistências no 'score_misinformation' (fora da faixa [-1, 1])
inconsistencias_misinformation = df_inicial[((df_inicial['score_misinformation'] < -1) | (df_inicial['score_misinformation'] > 1)) & (~df_inicial['inconsistencia_verificada'])]
contador_inconsistencias += len(inconsistencias_misinformation)
df_inicial.loc[inconsistencias_misinformation.index, 'inconsistencia_verificada'] = True
print(f"Inconsistências no 'score_misinformation' encontradas: {contador_inconsistencias} linhas")
print(inconsistencias_misinformation[['id_message', 'score_misinformation']])

# Verificação de inconsistências no 'caracteres' (não corresponde ao tamanho de 'text_content_anonymous')
inconsistencias_caracteres = df_inicial[
    (df_inicial['caracteres'] != df_inicial['text_content_anonymous'].fillna('').str.len()) &
    (~df_inicial['inconsistencia_verificada'])
]

contador_inconsistencias += len(inconsistencias_caracteres)
df_inicial.loc[inconsistencias_caracteres.index, 'inconsistencia_verificada'] = True

print(f"Inconsistências no 'caracteres' encontradas: {len(inconsistencias_caracteres)} linhas")
print(inconsistencias_caracteres[['id_message', 'text_content_anonymous', 'caracteres']].head(10))
print("\nComparação real entre 'caracteres' informado e comprimento real:")
for idx, row in inconsistencias_caracteres.head(10).iterrows():
    print(f"ID {row['id_message']}: caracteres={row['caracteres']} | real={len(row['text_content_anonymous'] or '')}")
    

# Exibir o total de inconsistências encontradas
print(f"\nTotal de inconsistências encontradas: {contador_inconsistencias}")

Inconsistências de mídia encontradas: 0 linhas
Empty DataFrame
Columns: [id_message, has_media, media, media_type, media_url, media_name, media_md5]
Index: []
Inconsistências de data encontradas: 0 linhas
Empty DataFrame
Columns: [id_message, date_message, date_system]
Index: []
Inconsistências no 'score_misinformation' encontradas: 0 linhas
Empty DataFrame
Columns: [id_message, score_misinformation]
Index: []
Inconsistências no 'caracteres' encontradas: 0 linhas
Empty DataFrame
Columns: [id_message, text_content_anonymous, caracteres]
Index: []

Comparação real entre 'caracteres' informado e comprimento real:

Total de inconsistências encontradas: 0

#### **Visualizando os dataframes finais**

In [28]:
# DF_FINAL COM AS LINHAS TRAVA-ZAPS REMOVIDAS
print(df_inicial)

              date_message               id_member_anonymous  \
0      2022-10-05 06:25:04  1078cc958f0febe28f4d03207660715f
1      2022-10-05 06:25:08                               NaN
2      2022-10-05 06:26:28  92a2d8fd7144074f659d1d29dc3751da
3      2022-10-05 06:27:28  d60aa38f62b4977426b70944af4aff72
4      2022-10-05 06:27:44  cd6979b0b5265f08468fa1689b6300ce
...                    ...                               ...
557581 2022-11-11 12:06:15  333e9869f23dbd4682d1be382d9c1e59
557582 2022-11-11 12:09:08                               NaN
557583 2022-11-11 12:09:47                               NaN
557584 2022-11-11 12:09:46                               NaN
557585 2022-11-11 12:09:48                               NaN

                      id_group_anonymous  \
0       12283e08a2eb5789201e105b34489ee7
1       12283e08a2eb5789201e105b34489ee7
2       9f2d7394334eb224c061c9740b5748fc
3       c8f2de56550ed0bf85249608b7ead93d
4       e56ec342fc599ebb4ed89655eb6f03aa
...                                  ...
557581  e56ec342fc599ebb4ed89655eb6f03aa
557582  5b10d7739171149be6d9961e3350c071
557583  1590a03f43b5ba4b6147a1c5e1dd357b
557584  5b10d7739171149be6d9961e3350c071
557585  b11f2df64ac19aad47a50accf32052d6

                                       media media_type  \
0                                        NaN        NaN
1                                        NaN        NaN
2                                        NaN        NaN
3       94dca4cda503100ebfda7ce2bcc060eb.jpg  image/jpg
4       5ad5c8bbe9da93a37fecf3e5aa5b0637.jpg  image/jpg
...                                      ...        ...
557581  25e43b6a58b848c43ad5b5f9e979822a.jpg        url
557582  657949d03e4088f6b332e2686ccd3221.jpg        url
557583  a21848a61045380a6483866daed0ca0e.jpg  image/jpg
557584  a21848a61045380a6483866daed0ca0e.jpg  image/jpg
557585  a21848a61045380a6483866daed0ca0e.jpg  image/jpg

                                                media_url  has_media  \
0                                                     NaN      False
1                                                     NaN      False
2                                                     NaN      False
3                                                     NaN       True
4                                                     NaN       True
...                                                   ...        ...
557581  https://terrabrasilnoticias.com/2022/11/bndes-...       True
557582                       https://youtu.be/8g1Vz9_0xVk       True
557583                           https://t.me/vemprasruas       True
557584                           https://t.me/vemprasruas       True
557585                           https://t.me/vemprasruas       True

        has_media_url  trava_zap  \
0               False      False
1               False      False
2               False      False
3               False      False
4               False      False
...               ...        ...
557581           True      False
557582           True      False
557583           True      False
557584           True      False
557585           True      False

                                   text_content_anonymous  ...  id_message  \
0       Então é Fato Renato o áudio que eu ouvi no wha...  ...       16385
1       Saiu no YouTube do presidente a 8 horas atrás,...  ...       16386
2       É isso, nossa parte já foi quase toda feita. N...  ...       16366
3                GENTE ACHEI ELES EM UMA SEITA MAÇONÁRICA  ...       19281
4                                                     NaN  ...      507185
...                                                   ...  ...         ...
557581  BNDES tem lucro de R$ 9,6 bilhões no terceiro ...  ...      575796
557582                       https://youtu.be/8g1Vz9_0xVk  ...     1286443
557583  Empresários, demitam os petistas primeiro.\n\n...  ...       13294
557584  Empresários, demitam os petistas primeiro.\n\n...  ...     1286444
557585  Empresários, demitam os petistas primeiro.\n\n...  ...      192127

       message_type  messenger  media_name                         media_md5  \
0             Texto   telegram         NaN                               NaN
1             Texto   telegram         NaN                               NaN
2             Texto   telegram         NaN                               NaN
3            Imagem   telegram         NaN  94dca4cda503100ebfda7ce2bcc060eb
4            Imagem   telegram         NaN  5ad5c8bbe9da93a37fecf3e5aa5b0637
...             ...        ...         ...                               ...
557581          Url   telegram         NaN  25e43b6a58b848c43ad5b5f9e979822a
557582          Url   telegram         NaN  657949d03e4088f6b332e2686ccd3221
557583       Imagem   telegram         NaN  a21848a61045380a6483866daed0ca0e
557584       Imagem   telegram         NaN  a21848a61045380a6483866daed0ca0e
557585       Imagem   telegram         NaN  a21848a61045380a6483866daed0ca0e

       caracteres words sharings sentiment  inconsistencia_verificada
0             110    20      1.0       0.0                      False
1             141    23      1.0       1.0                      False
2             350    59      1.0      -1.0                      False
3              40     7      1.0       0.0                      False
4               0     0      0.0       NaN                      False
...           ...   ...      ...       ...                        ...
557581        152    12      2.0       1.0                      False
557582         28     1      2.0       0.0                      False
557583         68     6      4.0       0.0                      False
557584         68     6      4.0       0.0                      False
557585         68     6      4.0       0.0                      False

[557570 rows x 24 columns]

## Fontes
- [StackOverflow - How to read CSV file from google drive public](https://stackoverflow.com/questions/56611698/pandas-how-to-read-csv-file-from-google-drive-public)
- [Pandas: find rows/columns with NaN (missing values)](https://note.nkmk.me/en/python-pandas-nan-extract/)